.strip-1-buisness img {
  max-width: 100%;
}

.strip-1-buisness {
  min-height: 380px;
  background: linear-gradient(
    91.06deg,
    rgba(227, 255, 230, 0) 0%,
    #ddd6f398 25.67%,
    #faaca8a9 79.12%,
    rgba(231, 255, 222, 0) 99.86%
  );
}

.strip-1-buisness {
  padding: 0 !important ;
}

.strip-1-buisness .container .row {
  min-height: 380px;
  align-self: center;
}
.buiscont {
  transition: all 0.3s !important;
  border: 2px solid var(--yellow);
}

.buiscont:hover {
  transition: all 0.3s !important;
  transform: scale(1.025);
  background: rgba(176, 208, 255, 0.281);
}
