.strip-1-faq img {
  max-width: 100%;
}

.strip-1-faq {
  min-height: 380px;
  background: linear-gradient(
    91.06deg,
    rgba(227, 255, 230, 0) 0%,
    #e7eca167 25.67%,
    #ff9dc354 79.12%,
    rgba(231, 255, 222, 0) 99.86%
  );
}

.strip-1-faq {
  padding: 0 !important ;
}

.strip-1-faq .container .row {
  min-height: 380px;
  align-self: center;
}

.strip-2-faq {
  background: linear-gradient(180deg, #bfffaac4 0%, #b6ffd093 100%);

  min-height: 440px;
}
.strip-2-faq .container {
  min-height: 440px;
}

.strip-2-faq .container .row {
  min-height: 440px;
}

.strip-2-faq .container .row img {
  transition: all 0.3s;
  border-radius: 15px;
  max-width: 100%;
}
.strip-2-faq .container .row img:hover {
  transition: all 0.3s !important;
  cursor: pointer;
  transform: scale(1.045);
  box-shadow: 18px 33px 49px -21px #99999981;
}

.strip-3-faq {
  min-height: 410px;
}
.strip-3-faq .container {
  min-height: 410px;
}

.strip-3-faq .container .row {
  min-height: 410px;
}

.strip-4-faq {
  min-height: 450px;
}
.strip-4-faq .container {
  min-height: 450px;
}
.strip-4-faq .container .row {
  min-height: 450px;
}
