/* All global styles goes here */

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* global variables decloration*/
:root {
  --yellow: #ffb444;
  --blackMain: #3b414b;
  --headingMain: #2c3136;
  --paragraphMain: #262626;
  --paragraphSecondary: #686868;
  --paragraphTurtary: #afafaf;
  --whites: #ffffff;
  --bg: #ffffff;
  --whitesreversed: #ffffff;
}

::-webkit-scrollbar {
  /* Set the background color of the scrollbar */
  background-color: var(--blackMain); /* This will create a blue scrollbar */
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: var(--yellow);
}

html,
body {
  scroll-behavior: smooth;
}

body {
  /* background-color: var(--bg); */
  cursor: url("./cursor.svg"), auto;
}

::selection {
  color: white;
  background: var(--yellow);
}
.container {
  max-width: 1200px;
}

* {
  font-family: "Rubik", sans-serif;
}

#loadingLine {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  border-radius: 10px;
  background-color: var(--yellow);
  z-index: 999;
}

input::placeholder {
  padding-left: 10px;
}
input {
  padding-left: 10px;
}

a {
  list-style: none;
  text-decoration: none;
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  color: var(--whites);
  transition: ease-out 0.3s;
}
ul {
  list-style: none;
}
.a {
  list-style: none;
  text-decoration: none;
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  color: var(--whites);
  transition: ease-out 0.3s;
}
.a:hover {
  color: var(--yellow);
  transition: ease-in 0.3s;
}
a:hover {
  transition: all 0.3s !important;
  color: var(--yellow);
  transition: ease-in 0.3s;
}

.p_small {
  font-weight: 400;
  font-size: 0.875em;
  line-height: 16px;
}

.p_default {
  color: #262626;
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
}
p {
  color: #262626;
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
}

.p_bold {
  font-weight: 700;
  font-size: 1em;
  line-height: 24px;
}

.p_bold_18 {
  color: #2c3136;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

h5 {
  color: #3b414b;
}

h4 {
  font-weight: 400;
  font-size: 1.25em;
  line-height: 26px;
}

h3 {
  font-weight: 400;
  font-size: 1.625;
  line-height: 26px;
}

.h3-2 {
  font-weight: 700;
  font-size: 1.625;
  line-height: 32px;
}

h2 {
  color: #3b414b;
  font-weight: 700;
  font-size: 2.25em;
  line-height: 40px;
}

h1 {
  color: #3b414b;
  font-weight: 700;
  font-size: 2.75em;
  line-height: 46px;
}

.button_nav {
  background: none;
  border: 2px solid var(--yellow);
  border-radius: 8px;

  font-weight: 700;
  font-size: 1em;

  padding: 10px 20px;

  color: var(--whites);
  transition: ease-out 0.3s;
}

.button_nav:hover {
  transition: all 0.3s !important;
  transition: ease-in 0.3s;
  cursor: pointer;
  background: var(--yellow);
  color: var(--whites);
}

button {
  border: none;
  border-radius: 8px;
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  padding: 15px 60px;
  background: var(--yellow);
  color: white;
  transition: all 0.3s;
  border: 2px solid var(--yellow);
}

button:hover {
  transition: all 0.3s !important;
  border: 2px solid var(--paragraphMain);
  color: var(--whites);
  border: 2px solid var(--paragraphMain);
  background: var(--paragraphMain);
}

.button_accent {
  border: none;
  border-radius: 8px;
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  padding: 15px 60px;
  border: 2px solid var(--paragraphMain);
  background: var(--blackMain);
  color: var(--whites);
  transition: all 0.3s;
}

.button_accent:hover {
  transition: all 0.3s !important;
  color: var(--whites);
  border: 2px solid var(--yellow);
  background: var(--paragraphMain);
}

.button_option {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  font-size: 1em;

  /* padding: 10px 20px; */
  width: 90px;
  height: 40px;
  text-align: center;
  background: var(--blackMain);
  color: var(--whites);
  transition: ease-out 0.3s;
}

.button_option:hover {
  transition: all 0.3s !important;
  color: var(--whites);
  cursor: pointer;
  transition: ease-in 0.3s;
  background: var(--paragraphMain);
}

.button_big {
  border: none;
  border-radius: 8px;
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  padding: 15px 110px;
  background: var(--yellow);
  color: white;
  transition: ease-out 0.3s;
  border: 2px solid var(--yellow);
}

.button_big:hover {
  transition: all 0.3s !important;
  border: 2px solid var(--paragraphSecondary);
  color: var(--whites);
  transition: ease-in 0.3s;
  background: var(--paragraphMain);
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.text-focus-in {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.wobble-ver-left {
  animation: wobble-ver-left 0.8s both;
}

@keyframes wobble-ver-left {
  0%,
  100% {
    transform: translateY(0) rotate(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateY(-30px) rotate(-6deg);
  }
  30% {
    transform: translateY(15px) rotate(6deg);
  }
  45% {
    transform: translateY(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateY(9px) rotate(2.4deg);
  }
  75% {
    transform: translateY(-6px) rotate(-1.2deg);
  }
}
