.strip-1-job {
  min-height: 780px;
}

.strip-1-job .container {
  min-height: 780px;
  background: url("../img/Rectangle-71.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.strip-1-job {
  padding: 0 !important ;
}

.strip-1-job .container .row {
  min-height: 780px;
  align-self: center;
}

.input-wrapper {
  min-height: 220px;
  background: #ffffffad;
  border-radius: 15px;
  transition: all 0.3s;
}

.input-wrapper:hover {
  transform: scale(1.025) !important;
  box-shadow: 18px 33px 49px -21px rgba(168, 168, 168, 0.459);
}

.job_search {
  border-radius: 15px;
  height: 50px;
  border-radius: 15px;
  background: #f0f0f0;
}

.btn_job {
  border-radius: 15px;
  text-align: center !important;
  padding: 10px 30px;
}

.strip-2-job {
  min-height: 555px;
  display: flex;
}
.strip-2-job .container {
  min-height: 555px;
}

.strip-2-job .container .row {
  min-height: 555px;
}

.card-group {
  border: none !important;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  border-radius: 15px !important;
  border: 0 !important;
  border-radius: 25px !important;
}

.card {
  text-align: center;

  margin: 20px 20px;
}

.card:hover {
  transition: all 0.3s !important;
  cursor: pointer;
  transform: scale(1.025) !important;
  box-shadow: 18px 33px 49px -21px rgba(172, 172, 172, 0.452);
}

.card img {
}

.card img {
  border-radius: 25px !important;
  transition: all 0.3s !important;
}

.card img:hover {
  transition: all 0.3s !important;
  cursor: pointer;
  transform: scale(1.045) !important;
  box-shadow: 18px 33px 49px -21px rgba(151, 151, 151, 0.452);
}

.card-job-1 {
  background: linear-gradient(
    90deg,
    #e4b19b 1.1%,
    #f9ded3 57.44%,
    #f0c5b4 100%
  );
}
.card-job-2 {
  background: linear-gradient(
    90deg,
    #9dd4e7 1.1%,
    #b8e5f3 57.44%,
    #b1dfec 100%
  );
}

.card-job-3 {
  background: #ddc4ef;
}

.card-job-4 {
  background: #f9ceda;
}

.strip-3-job {
  min-height: 310px;
  display: flex;
}
.strip-3-job .container {
  min-height: 310px;
}

.strip-3-job .container .row {
  min-height: 310px;
}

.card-job-1-1 {
  background: linear-gradient(
    103.71deg,
    #faf4ff 3.39%,
    #faf4ff 3.89%,
    #f8eeff 49.72%,
    #ffecf3 98.01%
  );
}
.card-job-2-2 {
  background: linear-gradient(
    121.26deg,
    #fff8f7 0%,
    #fff1e4 28.61%,
    rgba(253, 215, 207, 0.68) 59.07%
  );
}
.card-job-3-3 {
  background: linear-gradient(
    102.81deg,
    rgba(255, 246, 222, 0.8) 7.48%,
    rgba(238, 249, 255, 0.8) 56.63%,
    rgba(255, 233, 214, 0.8) 100%
  );
}

.card-3 {
  min-height: 130px;
}
