.strip-1-loan img {
  max-width: 100%;
}

.strip-1-loan {
  min-height: 380px;
  background: linear-gradient(
    91.06deg,
    rgba(227, 255, 230, 0) 0%,
    #70e1f598 25.67%,
    #ffd194a6 79.12%,
    rgba(231, 255, 222, 0) 99.86%
  );
}

.strip-1-loan {
  padding: 0 !important ;
}

.strip-1-loan .container .row {
  min-height: 380px;
  align-self: center;
}


.strip-2-loan{
  min-height: 1000px;
}

.strip-2-loan .container{
  min-height: 1000px;
}
.strip-2-loan .container .row{
  min-height: 1000px;
}

.box-strip-2-loan{
  max-height: 500px;
  transition: all 0.3s !important;
}
.box-strip-2-loan:hover{
  transition: all 0.3s !important;
  transform: scale(1.025);
  box-shadow: 22px 18px 50px 4px rgba(187, 187, 187, 0.411);
}

.box-strip-2-loan img{
  max-height: 180px;
}