.strip-1-loan img {
  max-width: 100%;
}

.strip-1-loan {
  min-height: 380px;
  background: linear-gradient(
    91.06deg,
    rgba(227, 255, 230, 0) 0%,
    #70e1f598 25.67%,
    #ffd194a6 79.12%,
    rgba(231, 255, 222, 0) 99.86%
  );
}

.strip-1-loan {
  padding: 0 !important ;
}

.strip-1-loan .container .row {
  min-height: 380px;
  align-self: center;
}

.strip-2-loan {
  min-height: 1000px;
}

.strip-2-loan .container {
  min-height: 1000px;
}
.strip-2-loan .container .row {
  min-height: 1000px;
}

.box-strip-2-loan {
  background: linear-gradient(-30deg, #70e1f53b 0, #ffd19462 100%) !important;
  max-height: 500px;
  transition: all 0.3s !important;
}
.box-strip-2-loan:hover {
  transition: all 0.3s !important;
  transform: scale(1.025);
  box-shadow: 22px 18px 50px 4px rgba(187, 187, 187, 0.411);
}

.box-strip-2-loan img {
  max-height: 180px;
}

.strip-3-loan {
  min-height: 480px;
}

.strip-3-loan .container {
  min-height: 480px;
}
.strip-3-loan .container .row {
  min-height: 480px;
}

.strip-3-loan-left {
  transition: all 0.3s !important;
  background: linear-gradient(10deg, #f1ff7554 0%, #80d0c765 100%) !important;
}

.strip-3-loan-left:hover {
  transition: all 0.3s !important;
  transform: scale(1.025);
  box-shadow: 22px 18px 50px 4px rgba(187, 187, 187, 0.411);
}

.strip-3-loan-right-top:hover {
  transition: all 0.3s !important;
  transform: scale(1.025);
  box-shadow: 22px 18px 50px 4px rgba(187, 187, 187, 0.26);
}
.box-strip-3-loan-right-bottom:hover {
  transition: all 0.3s !important;
  transform: scale(1.025);
  box-shadow: 22px 18px 50px 4px rgba(187, 187, 187, 0.336);
}

.box-strip-3-loan-right-bottom-2:hover {
  transition: all 0.3s !important;
  transform: scale(1.025);
  box-shadow: 22px 18px 50px 4px rgba(187, 187, 187, 0.336);
}

.strip-3-loan-right-top {
  transition: all 0.3s !important;
  background: linear-gradient(-30deg, #70f5f53b 0, #e2ff9462 100%) !important;
}

.box-strip-3-loan-right-bottom {
  transition: all 0.3s !important;
  background: linear-gradient(-30deg, #70f5773b 0, #ffe86562 100%) !important;
}

.box-strip-3-loan-right-bottom-2 {
  transition: all 0.3s !important;
  background: linear-gradient(-30deg, #70f5be93 0, #ffe29462 100%) !important;
}

.strip-4-loans {
}

.strip-4-loans .container {
}
.strip-4-loans .container .row {
}
