.welcome {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.welcomeBlock {
  padding: 100px 50px;
  transition: all 0.3s;
  border-radius: 15px;
}
.welcomeBlock:hover {
  border: 1px solid #e0e0e0;
  transform: scale(1.01);
  box-shadow: 18px 33px 49px -21px rgba(177, 177, 177, 0.438);
  /* border: 2px solid var(--yellow); */
}
